

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header, footer {
    flex: 0 0 auto;
    background: #99b080;
}
.head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
main {
    flex: 1 1 auto;
    position: relative;
}
#map {
    height: 100%;
    width: 100%;
}
.search-box {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.bike-icon {
    color: #faf8ed;
    font-size: 30px;
    margin-right: 15px;
}
.bike-title {
    color: #faf8ed;
    font-size: 25px;
    margin-right: 15px;
}
.copyright {
    text-align: center;
    color: white;
    font-size: 15px;
}
.weather-container {
    position: absolute;
    top: 0; /* 调整以适合你的地图 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 1000;
    width: 30%;
    max-width: 600px;
}

.current-weather, .weather-forecast {
    flex: 1;
    text-align: center;
}

.current-weather {
    border-right: 1px solid #ddd;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.nav-item {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
}

.nav-item:hover{
    background-color: #99b080;
}

.nav-item.active {
    background-color: #99b080;
}

