<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Dublin Bikes</title>
      <link rel="stylesheet" href="../static/css/styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   </head>
   <body>
      <header>
         <div class="head">
            <i class="fa-solid fa-bicycle bike-icon"></i>
            <p class="bike-title">Dublin Bikes</p>
         </div>
      </header>
      <main>
        <div class="search-box">
            <button id="search-button" aria-label="Search" onclick="search()">
                <i class="fas fa-search search-icon"></i>
            </button>
            <input type="text" id="search-input" placeholder="Search Station">
        </div>



         <div class="weather-container">
            <div class="current-weather">
                <p>Current weather here.</p>
            </div>
            <div class="weather-forecast">
                <p class="weather-forecast-title">5-Day Forecast</p>
                <p>Future weather here.</p>
            </div>
         </div>

    <div class="sidebar">
        <nav class="nav-bar">
            <div class="nav-item" id="route">Route</div>
            <div class="nav-item" id="prediction">Prediction</div>
        </nav>
    </div>



         <div id="map"></div>
      </main>
      <footer>
         <p class="copyright">2024 &copy;Group10</p>
      </footer>
      <script src="../static/js/index.js" defer></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhPvITkXewUHkhDGJdDFLW871e1d2EKTw&libraries=places&callback=initMap" defer></script>
   </body>
</html>

<!--Icon:
Park: <i class="fa-solid fa-p"></i>
Bike: <i class="fa-solid fa-bicycle"></i>
Station: <i class="fa-light fa-location-dot"></i>

-->